/*html {
  background-color: #fadfad;
  /*text-align: center;*/

.jumbotron {
  text-align: center;
  background-color: #00acb0;
}

h1 {
    font: 30px arial, sans-serif;
    margin: 30px;
}

.container {
  font: 20px arial, sans-serif;
  background-color: salmon;
  text-align: center;
}

#buttons {
  border-radius: 8px;
  /*width: 500px;*/
  /*font: 20px arial, sans-serif;*/
  background-color: #00acb0;
  margin: 30px;
  text-align: center
}

#inputs {
  margin: 30px;

}
